.section-grid{
    .section-title{
        text-align: center;
        margin: auto;
    }
    .propiedades{
        margin: auto;
        width: 80%;
        @include grid (3, 2rem);
        @include tablet{
            grid-template-columns: 1fr;
            width: 95%;
        }
        .anuncio{
            h3{
                font-weight: bold;
            }
            .propiedad-description{
                text-align: center;
            }
            
            .contenido-anuncio{
                padding: 1rem;
                background-color: $gris;
            }
            ul{
                text-align: center;
                list-style: none;
                display: flex;
                max-width:40rem ;
                li{
                    display: flex;
                    justify-content: center;
                    flex: 1, 0, 0;
                    margin: auto;
                    @include desktop{
                        grid-template-columns: none;
                    }
                    *{
                        margin: .2rem;
                    }
                }
            }
        }
    }
}
.precio{
    font-weight: bold;
    font-size: 3rem;
    color: $verde;
}
.link-propiedad{
    display: flex;
    justify-content: center;
    button{
        @include button($blanco, $amarillo)
    }
}
.button-overall{
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    @include tablet{
        justify-content: center;
    }
    button{
        @include button($blanco,$verde)
    }
}